body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(white,lightgray);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.box-mouse {
    height: 100vh;
    width: 100vw;
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 200px;
}   

.mouse-point {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
