body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:red;
}

h2 {
    color:blue;
}

.premier-p{
    color: red;
}

.deuxieme-p{
    color: blue;
}

.troisieme-p{
    color: green;
}

span {
    color:green;
}

li {
    list-style: none;
}

.premier-li {
    color: red;
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
}

.deuxieme-li {
    text-align: center;
    color:blueviolet
}

.troisieme-li {
    text-align: end;
    color: blue;
}

a {
    text-decoration: none;
}

.div-maman {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3rem;
}

.div1{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}

.div2{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;  
}

.div3{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;  
}

.div-maman2 {
    display: flex;
    flex-direction: column;
}

.div12 {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.div22 {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;  
    align-self: center;
}

.div32 {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;  
    align-self: end;
}


.div-spacebetween div {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    align-self: start;
}

.div-spacebetween {
    display: flex;
    justify-content: space-between;
}

.div-center div {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}

.div-center div {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

.div-center {
    display: flex;
    justify-content: center;
}

.div-spacearound {
    display: flex;
    justify-content: space-around;
}

.div-spacearound div {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}   

.div-evenly {
    display: flex;
    justify-content: space-evenly;
}

.div-evenly div {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}   