body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(white,lightgray);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


.div-color {
    background-color: black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
