body {
    background-color: #171717;
    font-family: DM Sans, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}

.navbar h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 7rem;
}

.part1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.button {
    border: 1px solid #ffffff;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff; 
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;  
    letter-spacing: 0%;


}

.button:first-child {
    border: none;
    background-color: #27AE60;
} 

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 650px;
    border: 1px solid #202020;
    background-color: #1E1D1D33;
    border-radius: 50%;
}

.profile-picture img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;

}

.info-section {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}  

.about-section h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    text-align: center;
}

.about-section p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    text-align: center;
    width: 745px;
    height: 136px;
}

.part1 h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}
.part1 p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #828282;
}

.info-icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #27AE60;
}

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    color: #ffffff;
}

.skills {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 250px;
    height: 100px;
    border: none;
    background-color: #212121;
    padding: 3rem 3rem;
    color: #535353;
    font-size: 24px;
    font-weight: 500;
}

.numbers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    color: #ffffff;
}

.numbers {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    background-color: #212121;
    border: 1px solid #333333;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border: none;
    padding: 2rem 2rem;
    gap: 1rem;
}   

.number h2 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F4F4F;
    text-align: center;
}

.number p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #27AE60;
    text-align: center;
}