body {
    background-color: white;
    color: black;
    font-family: DM Sans, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.sections {
    gap: 4rem;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    padding: 0.75rem 1.5rem;
    border: 1.5px solid #36ad69;
    color: #36ad69;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
}   

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.profile-picture img {
    width: 300px;
    height: 300px;
}

.about-section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.info-section {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}  

.info h3, p {
    margin: 0;
    padding: 0;
}

.info-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #36ad69;
}